/Presentation.class
/DocumentInfo.class
/Defaults.class
/Slides.class
/Slide.class
/Text.class
/Shape.class
/Polygon.class
/Image.class
/Video.class
/Audio.class
/Interactable.class
/Shading.class
/Images.class
/ShapeItem.class
/Gradient.class
/Item.class
/AudioItem.class
/DefaultsItem.class
/ImageItem.class
/InteractableItem.class
/PolygonItem.class
/ShadingItem.class
/SlideItem.class
/TextItem.class
/VideoItem.class
